body{
    display: flex;
    flex-direction: column;
}

main{
    position:relative;
    top:16%;
    font-family: "Quicksand", sans-serif;

}
.container_form{
    text-align: -webkit-center;
    width:auto;
    height:auto;
}
.row{
    width:auto;
    height:auto;
    max-width: 100%;
}
.card{
    height:500px;
    width:820px;
}
.card-img-left {
    width: 45%;
    background-image: url('https://drive.google.com/uc?id=1PoN7-uuN30xnggQFXbwaOBhx4ca9GNqB');
    background-position: 30%;
    background-size: cover;
  }

form{
    display:flex;
    flex-direction: column;
}


h5{
    font-family: "Quicksand", sans-serif;
    color:black;
}
.p-sm-5{
    align-self:center;
}
.form-control:focus{
    color: #000;
    background-color: #fff;
    border-color: #00E676;
    outline: 0;
    box-shadow: 0 0 0 .10rem #00E676;
}
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color:#000;
    border-color: #000;
}

.btn-primary:hover{
    background-color:#00E676;
    border-color: #00E676;
    box-shadow: 0 0 0 .10rem #000;
    color:#000;
}

a{
    color:black;
}
a:hover{
    color:#00E676;
}

.erreur{
    color:red;
}
.valide{
    color:#00E676;
}


