body{
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}
main{
    margin:auto;
    align-items: center;
}

.title-paiement{
    font-size: 50px;
    font-family:"Quicksand", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.return{
    text-decoration: none;
    color:#000;
}
.return:hover{
    color:#00E676;
}
hr{
    margin-top:20px;
    margin-bottom:20px;
}


.card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20 px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-primary {
    height: 70px;
    align-items: center;
    padding: 0 15px;
    background-image: linear-gradient(to right, #00E676 0%, #79CBCA 51%, #333 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}
.ps-3{
    font-size: 19px;
    text-decoration: none;
    color:#333;
    padding-bottom:35%;
 
}
.ps-3:hover{
    color:#fff;
}
.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    color: grey;
    background-color: #333;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: #00E676;
    background-color: #333;
    border: 2px solid #264134;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}